.Mainpage-header {
    position: fixed;
    top: 0;
    border-bottom: 1px black solid;
    width:100%;
    height:100px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.Mainpage-header-publish {
    height: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
    text-align: left;
    line-height: 50px;
}

.Mainpage-header-publish img{
    margin: auto 0;
}

.Mainpage-header-img{
    display: grid;
    grid-template-columns: 10% 90%;
}

.Mainpage-header-send{
    margin-top: 25px;
}

.Mainpage-header-send div{
    width: 25%;
    height: 50%;
    border: 1px black solid;
    margin: 0 auto;
    line-height: 40px;
}

.Message-section{
    margin: 10% 5%;
}

.Message-section img{
    height: 100px;
    width: 70px;
}

.Message-inner-section {
    padding-left: 200px;
    text-align: left;
}

.Message-inner-section img{
    height: 250px;
    width: 200px;
}

.Message-inner-section tr:first-child{
    width: 250px;
}

.Message-section p{
    padding-left: 200px;
    text-align: left;
}

.Outer-table{
    border-collapse : collapse;
}

.Outer-table tr{
    border-bottom: 1px black solid;
}

.My-profile{
    position : absolute;
}

.My-profile img{
    border: 2px solid;
    border-radius: 47px;
}